# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ejercicios/nbproject/private/
*.properties
ejercicios/nbproject/build-impl.xml
ejercicios/nbproject/project.xml
ejercicios/manifest.mf
ejercicios/build.xml
/ejercicios/build/
/Prueba3/nbproject/private/
/Prueba3/build/
.idea/kotlinc.xml
.idea/misc.xml
.idea/workspace.xml
.idea/modules.xml
ejercicios/ejercicios.iml
.idea/vcs.xml
Prueba3/Prueba3.iml
